<main>
 <p id= "notice"></p>
  <div class= "container px-5 px-sm-0">
   <div class= "row">
    <div class= "col-md-3">
    <div>
     <%= flash[:notice] %>
    </div>
 <h2>User info</h2>
     <%= image_tag @user.get_profile_image(100,100) %>
     <table class= "table">
      <tbody>
       <tr></tr>
       <tr>
        <th>name</th>
         <th><%=@user.name%></th>
         </tr>
         <tr>
         <th>introduction<%= @user.introduction%></th>
        <th></th>
       </tr>
      </tbody>
     </table>
     <div class="col-md-10">
      <div>
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
       </div>
     </div>
     <h2 class= "mt-3">New book</h2>
     <%= form_with model: @book_new do |f|%>
      <div class="form-group">
       <label for="book_title">Title</label><br>
       <%= f.text_field :title%>
       </div>
      <div class="form-group">
       <label for="book_opinion">Opinion</label><br>
       <%= f.text_area :body%>
      </div>
      <div class="form-group">
      <%= f.submit'Create Book' %>
      </div>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>
     <table class= "table">
      <tbody>
       <tr>
        <td>
        <%= link_to user_path(@user.id) do %>
        <%= image_tag @user.get_profile_image(70,70) %><br>
        <%= @user.name %>
        <% end %>
        </td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <% if @book.favorited_by?(current_user) %>
         <td>
          <%= link_to book_favorites_path(@book), method: :delete do %>
             ♥<%= @book.favorites.count %>いいね
          <% end %>
         </td>
         <% else %>
         <td>
           <%= link_to book_favorites_path(@book), method: :post do %>
             ♡<%= @book.favorites.count %>いいね
           <% end %>
         </td>
        <% end %>
          <td>コメント件数：<%= @book.book_comments.count %></td>
           <% if @book.user == current_user %>
            <td><%= link_to "Edit" ,edit_book_path(@book) %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
           <% end %>
         </tr>
          <% @book.book_comments.each do |book_comment| %>
          <tr>
           <td><%= image_tag book_comment.user.get_profile_image(85,85) %></td>
            <% if book_comment.user == current_user %>
             <td><%= book_comment.comment %></td>
             <td><%= link_to "Destroy", book_book_comment_path(book_comment.book,book_comment), method: :delete %></td>
            <% end %>
          </tr>
          <% end %>
          </tbody>
      </table>
        <%= form_with model:[@book, @book_comment] do |f| %>
        <%= f.text_area :comment, :size => "70x4" %><br>
        <%= f.submit "送信" %>
        <% end %>
     </div>
    </div>
   </div>
</main>