
<% if @model == "user" %>
<h1>Users search for "<%= @content %>"</h1>
 <div class="col-md-8 offset-md-1">
  <table class= "table table-hover table-inverse">
    <thead>
      <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
     </tr>
    </thead>
    <tbody>
   <% @datas.each do | user | %>
     <tr>
      <th><%= link_to  search_path do %><%= image_tag user.get_profile_image(80,80) %><% end %></th>
      <th><%= link_to  search_path do %><%=user.name %><% end %></th>
     </tr>
   <% end %>
    </tbody>
  <% elsif @model == "book" %>
 <h1>Books search for "<%= @content %>"</h1>
  <div class="col-md-8 offset-md-1">
   <table class= "table table-hover table-inverse">
   <thead>
     <tr>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
     </tr>
   </thead>
    <tbody>
     <% @datas.each do | book | %>
     <tr>
      <th><%= link_to search_path do %><%= image_tag book.user.get_profile_image(80,80) %><% end %></th>
      <th><%= link_to search_path do %><%= book.title %><% end %></th>
      <th><%=book.body %></th>
     </tr>
     <% end %>
    <% end %>
    </tbody>
   </table>
 </div>

